/**
 * Social
 */

.widget_wpcom_social_media_icons_widget {
  
  @include flex-fill;
  
  position: relative;
  
  padding-right: 2%;
  padding-left: 0;
  
  background-color: color( black );
  background-image: linear-gradient(to right, black 0%, #1d1d1d 100%);

  &:before {
    content: '';
    
    position: absolute;
    left: -21px;
    
    display: block;
    height: 100%;
    width: 22px;
    
    background-image: url(#{$img}/search_before.svg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  ul {
    @include flex-fill;
    
    
    li {
      
      @include flex-center;
      
      margin-right: 0;
      padding-right: 4.35%;
      padding-left: 4.35%;
    }
  }
  

  a {
    display: inline-block;
    margin-right: 16%;
    margin-left: 16%;
    
    color: color( white );
  }
  
  .genericon {
    
    padding: 8px;
    
    border-radius: 50%;
    
  }
  
  .genericon-twitter { background-color: color( twitter ); }
  .genericon-facebook { background-color: color( facebook ); }
  .genericon-instagram { background-color: color( instagram ); }
  .genericon-pinterest,
  .genericon-pinterest-alt { background-color: color( pinterest ); }
  .genericon-youtube { background-color: color( youtube ); }
  
}