/**
 * Social
 */

.widget_wpcom_social_media_icons_widget {
  
  @include flex-fill;
  @include no-list;
  
  position: relative;
  
  padding-left: 2%;
  

  ul {
    @include flex-fill;
    
    margin-bottom: 0.25em;
    
    @include media( $third-break ) {
      flex-direction: column;
    }
    
    li {
      flex: 0 1 auto;
      
      @include flex-center;
      
      margin-right: 0;
      padding-right: 4.35%;
      padding-left: 4.35%;
    }
  }
  

  a {
    display: inline-block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    
    color: color( white );
    opacity: 1;
    
    @include transition();
    
    &:hover {
      opacity: 0.66;
    }
    
    @include media( $third-break ) {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
  
  .genericon {
    
    padding: 8px;
    
    border-radius: 50%;
    
  }
  
  .genericon-twitter { background-color: color( twitter ); }
  .genericon-facebook { background-color: color( facebook ); }
  .genericon-instagram { background-color: color( instagram ); }
  .genericon-pinterest,
  .genericon-pinterest-alt { background-color: color( pinterest ); }
  .genericon-youtube { background-color: color( youtube ); }
  
}