/**
 * Archive ( Home )
 */

.archive {
  
  
  .site-main {
    
    > .post {
      
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    
      //height: 450px;
    
      width: 100%;
    
      &.format-video {
      
        //width: flex-grid( 9, 12 );
        height: auto;
        min-height: none;
      }
    
      > * {
        flex: 1 1 auto;
      }
    
    
      @include media( $third-break ) {
        
        flex: none;
        
        display: block;
        height: 450px;
        width: flex-grid( 3, 12 );
      
        margin-bottom: flex-gutter();
      
        &.format-video {
        
          //width: flex-grid( 9, 12 );
          height: 450px;
          max-height: none;
          
        }
      
        &.format-image {
          //width: flex-grid( 6, 12 );
        }
      
        
        &:nth-of-type( 1 ),
        &:nth-of-type( 4 ),
        &:nth-of-type( 7 ),
        &:nth-of-type( 8 ),
        &:nth-of-type( 9 ),
        &:nth-of-type( 10 ) {
          @include span-columns( 6 );
        
          //height: 450px;

          .entry-header { font-size: 75%; }
        }
      
        &:nth-of-type( 2 ),
        &:nth-of-type( 3 ),
        &:nth-of-type( 5 ),
        &:nth-of-type( 6 ) {
          @include direction-context(right-to-left) {
            @include media( $third-break ) {
              @include span-columns( 3 );
              @include omega();
              
              height: 210px;
              
              .entry-header { font-size: 50%; }
            }
          }
          
        }
        
        &:nth-of-type( 3 ),
        &:nth-of-type( 6 ),
        &:nth-of-type( 8 ),
        &:nth-of-type( 10 ),
        &:nth-of-type( 12 ) {
          @include omega();
        }
      }
    
    }
  
  
  
    > .widget_twitter_timeline {
      @include direction-context(right-to-left) {
        @include media( $third-break ) {
          @include span-columns( 3 );
          //@include omega();
        }
      }
    }
    
    
  }
  
  &.tag {
    .site-main {
      
      > .post {
        @include media( $third-break ) {

          &:nth-of-type( 1 ) {
            @include span-columns( 12 );
        
            height: 675px;
          }
        
          &:nth-of-type( 2 ),
          &:nth-of-type( 3 ),
          &:nth-of-type( 4 ),
          &:nth-of-type( 5 ),
          &:nth-of-type( 6 ),
          &:nth-of-type( 7 ),
          &:nth-of-type( 8 ),
          &:nth-of-type( 9 ),
          &:nth-of-type( 10 ),
          &:nth-of-type( 11 ) {
            @include span-columns( 6 );
        
            height: 450px;

            .entry-header { font-size: 75%; }
          }

          &:nth-of-type( 3 ),
          &:nth-of-type( 5 ),
          &:nth-of-type( 7 ),
          &:nth-of-type( 9 ),
          &:nth-of-type( 11 ) {
            @include omega();
          }
        }
      }
    }
  }
  
}

.archive,
.related-posts {
  
  .post {
    
    position: relative;
    
    margin-bottom: $gutter;
    
    
    &.format-video {
      
      &:hover,
      &:focus {
        
        .entry-header {
          opacity: 0;
          
        }
      }
    }
    
    .entry-header {
      order: 2;
      
      @include pad( 1em 2em );
      
      background-color: rgba( color( black ), 0.79 );
      color: color( white );
      
      @include transition;
      
      @include media( $third-break ) {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
      }
      
      .entry-title,
      .entry-subhead {
        margin: 0.15em 0;
      }
      
      .entry-subhead {
        line-height: 1;
      }
    }
    
    .entry-content {
      order: 1;

      //max-height: 450px;
      width: 100%;
      margin: 0;
      
      @include media( $third-break ) {
        height: 100%;
      }
      
      .hero {
        height: 450px;
        max-height: none;
        width: 100%;
        margin: 0;
        
        @include media( $third-break ) {
          height: 100%;
        }
      }
      
      .fluid-width-video-wrapper {
        
        @include media( $third-break ) {
          position: static !important;
        }
      }
    }
    
    
    .entry-footer {
      
      .tag-link {
        @extend %h6;
        
        position: absolute;
        top: 22px;
        left: -18px;
        z-index: 2;
        
        @include pad( 0.5em 1em );
        
        background-color: color( red );
        background-image: linear-gradient(to right, #cb0000 0%, color( red ) 100%);
        color: color( white );
        
        line-height: 1.1;
        
        &:before {
          content: '';
          
          position: absolute;
          bottom: -9px;
          left: 0;
          z-index: 3;
          display: block;
          width: 18px;
          height: 9px;
          
          //background-image: linear-gradient(189deg, #b20101 0%, #e60303 100%);
          background-image: url(#{$img}/cut_back.svg);
          background-repeat: no-repeat;
          background-size: 100%;
        }
      }
    }
    
    a {
      color: inherit;
      
      text-decoration: none;
    }
  
  
    &.format-image {
      .entry-content {
        iframe {
          height: 100%;
        }
      }
    }
    
    &.format-quote {
      
      .entry-header {
        position: absolute;
        top: 2em;
        right: 1em;
        bottom: 2em;
        left: 2em;
        z-index: 2;
      
        @include pad( 1em 2em );
      
        background-color: transparent;
        color: color( red );
      
        .entry-title,
        .entry-subhead {
          margin: 0.15em 0;
          
          font-size: em( 40 );
          text-align: right;
        }
      
        .entry-subhead {
          //line-height: 1;
          
          color: color( white );
        }
      
      }
    }
  }
}