/**
 * Site Header
 */

.site-header {
  margin-bottom: $gutter;
  
  background-color: color( black );
  color: color( white );
  
  text-align: center;
  
  .site-branding {
    @include container;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    
    @include media( $third-break ) {
      flex-wrap: nowrap;
      align-items: flex-end;
      
      max-height: 234px;
      padding-right: $half-gutter;
      padding-left: $half-gutter;
    }
    
    > a {
      flex: 1 1 100%;
      
      @include media( $third-break ) {
        flex: 1 1 auto;
      }
    }
  }
  
  .hoopsworthy-logo {
    position: relative;
    display: block;
    max-height: 234px;
    line-height: 0;
    
    > * {
    }
  }
  
  .site-title {
    @include visuallyhidden;
    
    
  }
  
  .site-description {
    flex: 1 1 100%;
    
    margin-top: 1em;
    margin-bottom: 1em;
    
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
    
    @include media( $third-break ) {
      flex: 0 1 auto;
      
      margin-top: 0;
      margin-bottom: 0.5em;
      
      text-align: left;
    }
    
    span {
      display: inline-block;
      
      text-transform: uppercase;
      line-height: 1.15;
      
    
      @include media( $third-break ) {
        display: block;
      }
    }
    
    br {
      display: none;
      
      @include media( $third-break ) {
        display: block;
      }
    }
  }
  
  .site-navigation { position: relative; }
  
  .widget { margin-bottom: 0; }
}