/**
 * Site Header
 */

.site-header {
  margin-bottom: $gutter;
  
  background-color: color( black );
  text-align: center;
  
  .site-branding {
    @include container;
  }
  
  .site-title,
  .site-description {
    @include visuallyhidden;
  }
  
  .widget { margin-bottom: 0; }
}