/**
 * Navigation
 */

.site-navigation {
  
  @include no-list;
  
  background-image: linear-gradient( to right, transparent 50%, #000 51%, #000 100%), linear-gradient(to top, #850101 0%, #970011 99%, #970011 100%);
  box-shadow: 0.4px 7px 11.8px 2.2px rgba(0, 0, 0, 0.19);
  
  text-transform: uppercase;
  
  @include media( $third-break ) {
    
    height: 65px;
    
  }
  
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: stretch;
    
    height: 100%;
    
    > .widget_nav_menu {
      flex: 1 1 auto;
      
      @include flex-fill;
    }
    
    > .widget_wpcom_social_media_icons_widget {
      flex: 1 1 100%;
      
      display: none;
      
      @include media( $third-break ) {
        flex: 0 1 auto;
        
        display: flex;
      }
    }
  }
}

.navigation-menu {
  @extend %h4;
  
  .menu {
    
    @include no-list;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    
    
    @include media( third-break ) {
      flex-wrap: nowrap;
    }
  }
  
  .menu-item { 
    flex:  1 0 33%;
    
    @include flex-center;
    
    @include media( $third-break ) {
      flex: 1 1 auto;
    }
  }
  
  a {
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }
}

.site-header .navigation-menu {
  @include flex-fill;

  position: relative;

  background-image: linear-gradient(to top, #c00 0%, #e50303 100%);
  
  &:before,
  &:after {
    content: '';
    
    position: absolute;
    display: block;
    height: 100%;
    width: 22px;
    
    background-repeat: no-repeat;
  }
  
  &:before {
    background-image: url(#{$img}/nav_before.svg);
    background-position: 100% -1px;
    background-size: cover;
  }
  
  &:after {
    right: -1px;
    z-index: 2;
    
    background-image: url(#{$img}/search_before.svg);
    background-position: 0;
    background-size: 100%;
  }
  
  a { color: color( white ); }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a { }
}


.site-footer .navigation-menu {
  
  margin-bottom: 2em;
  
  @include media( $third-break ) {
    margin-bottom: 0;
  }
  
  .menu {
    flex-wrap: nowrap;
    justify-content: center;
    
    .menu-item { flex: 0 1 auto; }
  }
  
  a {
    @include pad( 1em 1em 0);
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.menu-toggle {
  display: none;
  
  @include media( $third-break ) { display: none; }
}


.comment-navigation,
.posts-navigation,
.post-navigation {
  @extend %h4;

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  & .nav-previous {
    width: 50%;
    float: left;
  }

  & .nav-next {
    width: 50%;
    float: right;
    
    text-align: right;
  }
  
  a { color: color( black ); }
}
