/**
 * Singular
 */

.single,
.page {
  
  .site-content {
    @include container;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    
    margin-top: -2em;
    padding-top: 2em;
    
    background-color: color( white );
    
    @include media( $fourth-break ) {
      flex-wrap: nowrap;
    }
    
    .content-area {
      flex: 1 0 100%;
      
      @include media( $third-break ) {
        flex: 1 1 auto;
        
        width: flex-grid( 9, 12 );
        margin-right: flex-gutter();
      }
      
    }
    
    .widget-area {
      flex: 1 0 100%;
      width: 100%;
      
      @include media( $fourth-break ) {
        flex: 1 0 auto;
        
        display: inline-block;
        width: flex-grid( 3, 12 );
      }
    }
  }
  
  
  .site-main {
    
  }
  
  .post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    
    position: relative;
    
    a { color: color( red ); }
    
    > * {
      flex: 1 0 100%;
    }
    
    .entry-header {
      order: 2;
      
      padding: 0 flex-gutter();
      
      .entry-title,
      .entry-subhead {
        margin: 0.15em 0;
      }
    }
    
    .entry-media {
      order: 1;
      
      height: 450px;
      
      .hero {
        height: 100%;
        margin: 0;
      }
    }
    
    .entry-content {
      order: 3;
      
      padding: 0 flex-gutter();
      
      
      .storify,
      iframe {
        
        width: 100% !important;
        max-width: 100% !important;
        overflow: hidden !important;
      }
      
    }
    
    .entry-footer {
      order: 4;
      
      
      .tag-link {
        @extend %h6;
        
        position: absolute;
        top: 22px;
        left: -18px;
        
        @include pad( 0.5em 1em );
        
        background-color: color( red );
        background-image: linear-gradient(to right, #cb0000 0%, color( red ) 100%);
        color: color( white );
        
        line-height: 1.1;
        text-decoration: none;
        
        &:before {
          
          content: '';
          
          position: absolute;
          bottom: -9px;
          left: 0;
          z-index: 3;
          display: block;
          width: 18px;
          height: 9px;
          
          //background-image: linear-gradient(189deg, #b20101 0%, #e60303 100%);
          background-image: url(#{$img}/cut_back.svg);
          background-repeat: no-repeat;
          background-size: 100%;
        }
      }
    }
  }
}