/**
 * Site
 */

.site-main {
  @include container;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: stretch;
  
  
  > .page-header,
  > .navigation {
    
    flex: 1 1 100%;
  }
  
  > .post {
    
    flex: 1 1 100%;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: stretch;
    
    
    width: 100%;
    
    //outline: 1px solid red;
    
    
    @include media( $third-break ) {
      
      flex: 1 1 auto;
      
      width: flex-grid( 3, 12 );
      
      margin: flex-gutter();
      margin-bottom: flex-gutter();
      
      &.format-video {
        
        width: flex-grid( 9, 12 );
      }
      
      &.format-image {
        width: flex-grid( 6, 12 );
      }
    }
    
    > * {
      flex: 0 1 auto;
    }
    
    > .entry-content {
      flex: 1 1 auto;
      
      iframe {
        height: none;
      }
    }
  }
}