/**
 * Widgets
 */

.widget {
  margin: 0 0 1.5em;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}

/* Twitter Timeline widget. */
.widget_twitter_timeline {
  
  .widget-title {
    @extend %h1;
    
    margin: 0;
    padding: 0.25em 0.5em;
    
    background-color: color( red );
    color: color( white );
    
    line-height: 1;
    text-transform: uppercase;
  }
}