/**
 * Credits
 */


.hof {
  
  a {
    display: inline-block;
    width: 100%;
    margin-bottom: 2em;
    padding-top: 185px;
    
    background-image: url(#{$img}/logo_hof.png);
    background-repeat: no-repeat;
    background-position: top center;
    
    text-transform: lowercase;
    text-align: center;
    
    @include media( $third-break ) {
      width: auto;
      min-width: 170px;
      margin-bottom: 0;
    }
  }
}

.nike {
  
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  
  
  @include media( $third-break ) {
    text-align: left;
  }
  
  .icon-nike {
    display: inline-block;
    
    height: 43px;
    width: 127px;
    margin-left: 40px;
  }
}