/**
 * Font Face
 */

@mixin TradeGothicBC18 {
  font-weight: 500;
  font-family: sans-serif;
  font-style: normal;
}

@mixin TradeGothicBC20 {
  font-weight: 600;
  font-family: sans-serif;
  font-style: normal;
  
}

@mixin TradeGothicLtReg {
  font-weight: 300;
  font-family: sans-serif;
  font-style: normal;
}